In [65]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")
import seaborn as sns

In [66]:
df=pd.read_table("amazon_reviews_us_Jewelry_v1_00.tsv",error_bad_lines=False)

b'Skipping line 10437: expected 15 fields, saw 22\nSkipping line 10443: expected 15 fields, saw 22\nSkipping line 19872: expected 15 fields, saw 22\nSkipping line 20055: expected 15 fields, saw 22\nSkipping line 20107: expected 15 fields, saw 22\nSkipping line 20167: expected 15 fields, saw 22\nSkipping line 53858: expected 15 fields, saw 22\n'
b'Skipping line 72173: expected 15 fields, saw 22\nSkipping line 84308: expected 15 fields, saw 22\nSkipping line 92156: expected 15 fields, saw 22\nSkipping line 97791: expected 15 fields, saw 22\nSkipping line 106812: expected 15 fields, saw 22\n'
b'Skipping line 138899: expected 15 fields, saw 22\nSkipping line 145840: expected 15 fields, saw 22\nSkipping line 192385: expected 15 fields, saw 22\nSkipping line 194126: expected 15 fields, saw 22\n'
b'Skipping line 222872: expected 15 fields, saw 22\nSkipping line 236587: expected 15 fields, saw 22\nSkipping line 245017: expected 15 fields, saw 22\n'
b'Skipping line 273895: expected 15 fields, saw 22\nSkipping line 302200: expected 15 fields, saw 22\n'
b'Skipping line 390306: expected 15 fields, saw 22\n'
b'Skipping line 395443: expected 15 fields, saw 22\nSkipping line 399564: expected 15 fields, saw 22\nSkipping line 435836: expected 15 fields, saw 22\nSkipping line 436589: expected 15 fields, saw 22\n'
b'Skipping line 477174: expected 15 fields, saw 22\nSkipping line 502547: expected 15 fields, saw 22\nSkipping line 514925: expected 15 fields, saw 22\n'
b'Skipping line 533989: expected 15 fields, saw 22\nSkipping line 534712: expected 15 fields, saw 22\nSkipping line 545993: expected 15 fields, saw 22\nSkipping line 574954: expected 15 fields, saw 22\nSkipping line 576486: expected 15 fields, saw 22\n'
b'Skipping line 604707: expected 15 fields, saw 22\nSkipping line 613292: expected 15 fields, saw 22\nSkipping line 622491: expected 15 fields, saw 22\nSkipping line 648193: expected 15 fields, saw 22\n'
b'Skipping line 686930: expected 15 fields, saw 22\nSkipping line 691337: expected 15 fields, saw 22\n'
b'Skipping line 728126: expected 15 fields, saw 22\nSkipping line 728320: expected 15 fields, saw 22\nSkipping line 746281: expected 15 fields, saw 22\n'
b'Skipping line 831631: expected 15 fields, saw 22\nSkipping line 849295: expected 15 fields, saw 22\n'
b'Skipping line 888781: expected 15 fields, saw 22\n'
b'Skipping line 962366: expected 15 fields, saw 22\nSkipping line 976631: expected 15 fields, saw 22\n'
b'Skipping line 983531: expected 15 fields, saw 22\n'
b'Skipping line 1070597: expected 15 fields, saw 22\n'
b'Skipping line 1191390: expected 15 fields, saw 22\n'
b'Skipping line 1258986: expected 15 fields, saw 22\nSkipping line 1260478: expected 15 fields, saw 22\n'
b'Skipping line 1318010: expected 15 fields, saw 22\nSkipping line 1375879: expected 15 fields, saw 22\n'
b'Skipping line 1570444: expected 15 fields, saw 22\n'
b'Skipping line 1690885: expected 15 fields, saw 22\nSkipping line 1699783: expected 15 fields, saw 22\n'
b'Skipping line 1756053: expected 15 fields, saw 22\n'

In [67]:
df.head(2)

,marketplace,customer_id,review_id,product_id,product_parent,product_title,product_category,star_rating,helpful_votes,total_votes,vine,verified_purchase,review_headline,review_body,review_date
0,US,50423057,R135Q3VZ4DQN5N,B00JWXFDMG,657335467,Everbling Purple and Clear Briolette Drop Swar...,Jewelry,5,0.0,0.0,N,Y,Beauties!,so beautiful even tho clearly not high end ......,2015-08-31
1,US,11262325,R2N0QQ6R4T7YRY,B00W5T1H9W,26030170,925 Sterling Silver Finish 6ct Simulated Diamo...,Jewelry,5,0.0,0.0,N,N,Great product.,"Great product.. I got this set for my mother, ...",2015-08-31

In [68]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1766748 entries, 0 to 1766991
Data columns (total 2 columns):
 #   Column       Dtype
---  ------       -----
 0   star_rating  int32
 1   review_body  object
dtypes: int32(1), object(1)
memory usage: 33.7+ MB

In [69]:
df1=df[["star_rating","review_body"]]

In [70]:
df1

        star_rating                                        review_body
0                 5  so beautiful even tho clearly not high end ......
1                 5  Great product.. I got this set for my mother, ...
2                 5  Exactly as pictured and my daughter's friend l...
3                 5  Love it. Fits great. Super comfortable and nea...
4                 5  Got this as a Mother's Day gift for my Mom and...
...             ...                                                ...
1766987           4  It is nice looking and everything (it is sterl...
1766988           4  my boyfriend bought me this last christmas, an...
1766989           4  This is a great way to quickly start learning ...
1766990           5  the 14kt gold earrings look remarkable...would...
1766991           5  It will be a gift to my special friend. We kno...

[1766992 rows x 2 columns]

In [71]:
df1.isnull().sum()/len(df)*100

star_rating    0.000509
review_body    0.013809
dtype: float64

In [72]:
df1.dropna(axis=0,inplace=True)

# DEALING WITH STAR_RATING COLUMN.

In [73]:
df1["star_rating"].unique()

array([5, 1, 4, 3, 2, '4', '5', '2', '3', '1'], dtype=object)

In [74]:
def star(x):
    if x=='4':
        return(4)
    elif x=='5':
        return(5)
    elif x=='2':
        return(2)
    elif x=='3':
        return(3)
    elif x=='1':
        return(1)
    else:
        return(x)

In [75]:
df1["star_rating"]=df1["star_rating"].apply(star)

In [76]:
df1["star_rating"]=df1["star_rating"].astype(int)

In [77]:
df1["star_rating"].unique()

array([5, 1, 4, 3, 2])

In [78]:
df2=df1[(df1["star_rating"]!=3)]

In [79]:
df2.shape

(1607094, 2)

In [80]:
def star_rating(x):
    if x<=2:
        return(0)
    else:
        return(1)

In [81]:
df2["star_rating"]=df2["star_rating"].apply(star_rating)

In [82]:
df2.head()

   star_rating                                        review_body
0            1  so beautiful even tho clearly not high end ......
1            1  Great product.. I got this set for my mother, ...
2            1  Exactly as pictured and my daughter's friend l...
3            1  Love it. Fits great. Super comfortable and nea...
4            1  Got this as a Mother's Day gift for my Mom and...

In [83]:
df2=df2.sample(frac=1).reset_index(drop=True)
data=df2[df2["star_rating"]==0][:25000]
data=data.append(df2[df2["star_rating"]==1][:25000])
data=data.reset_index(drop=True)
display(data["star_rating"].value_counts())
data

0    25000
1    25000
Name: star_rating, dtype: int64

       star_rating                                        review_body
0                0  The leather was paper thin and the snaps were ...
1                0  They were way to small and would not work for ...
2                0  The stone fell off the ring as soon as I opene...
3                0                            Doesn't stay on at all😥
4                0  Found black tarnish on the clasp and all over ...
...            ...                                                ...
49995            1  The ring is just so gorgeous. I can't believe ...
49996            1                                 Nice for the price
49997            1  The ring looks wonderful, exactly what I am lo...
49998            1  This ring is very simple, which is exactly wha...
49999            1  I didn't want to buy these only because there ...

[50000 rows x 2 columns]

In [84]:
#Cleaning review column

In [85]:
data["review_body"]=data['review_body'].apply(lambda x:" ".join([x for x in x.split(" ") if len(x)>2]))

In [86]:
import re
def clean_html(x):
    clean = re.compile('<.*?>')
    return re.sub(clean, '', x)

In [87]:
data["review_body"]=data["review_body"].apply(clean_html)

In [88]:
def convert_lower(X):
    return X.lower()

In [89]:
data["review_body"]=data["review_body"].apply(convert_lower)

In [90]:
def remove_special(y):
    x=''
    
    for i in y:
        if i.isalnum():
            x=x+i
        else:
            x=x+' '
    return x

In [91]:
data["review_body"]=data["review_body"].apply(remove_special)

In [92]:
import nltk
from nltk.corpus import stopwords

In [93]:
def remove_stopwords(text):
    x=[]
    for i in text.split():
        if i not in stopwords.words("english"):
            x.append(i)
    y=x[:]                             #making new list putting all x into y
    x.clear()                          #clearing x for next loop
    return y

In [94]:
data["review_body"]=data["review_body"].apply(remove_stopwords)

In [95]:
from nltk.stem import WordNetLemmatizer
lematizer=WordNetLemmatizer()

In [96]:
def lematize_words(text):
    y=[]
    for i in text:
        y.append(lematizer.lemmatize(i))
    z=y[:]
    y.clear()
    return z

In [97]:
data["review_body"]=data["review_body"].apply(lematize_words)

In [98]:
def join_back(list_input):
    return " ".join(list_input)

In [99]:
data["review_body"]=data["review_body"].apply(join_back)

In [100]:
data

       star_rating                                        review_body
0                0  leather paper thin snap difficult pry apart me...
1                0                  way small would work lip piercing
2                0                stone fell ring soon opened package
3                0                                               stay
4                0  found black tarnish clasp chain right box seem...
...            ...                                                ...
49995            1         ring gorgeous believe sparkle husband love
49996            1                                         nice price
49997            1  ring look wonderful exactly looking cannot see...
49998            1  ring simple exactly wanted want take anything ...
49999            1  want buy many review happy went ahead purchase...

[50000 rows x 2 columns]

In [101]:
from sklearn.feature_extraction.text import CountVectorizer

In [102]:
vect=CountVectorizer()

In [103]:
X=vect.fit_transform(data["review_body"])

In [104]:
X.shape

(50000, 20320)

In [105]:
X=X.astype("uint8")

In [106]:
X1=X.toarray()

In [107]:
y=data.iloc[:,0]

In [108]:
y.shape

(50000,)

In [109]:
from sklearn.model_selection import train_test_split
X1_train,X1_test,y_train,y_test=train_test_split(X1,y,test_size=0.20,random_state=18)

In [110]:
from sklearn.naive_bayes import MultinomialNB,BernoulliNB

In [111]:
clf2=MultinomialNB()
clf3=BernoulliNB()

In [113]:
clf2.fit(X1_train,y_train)
clf3.fit(X1_train,y_train)

BernoulliNB()

In [115]:
y_train_predict2=clf2.predict(X1_train)
y_test_predict2=clf2.predict(X1_test)

In [116]:
y_train_predict3=clf3.predict(X1_train)
y_test_predict3=clf3.predict(X1_test)

In [118]:
from sklearn.metrics import classification_report

In [120]:
print("*****************************MultinomialNB***************************\n")
print("Train Data")
print(classification_report(y_train,y_train_predict2))
print("Test Data")
print(classification_report(y_test,y_test_predict2))

*****************************MultinomialNB***************************

Train Data
              precision    recall  f1-score   support

           0       0.93      0.91      0.92     20029
           1       0.91      0.93      0.92     19971

    accuracy                           0.92     40000
   macro avg       0.92      0.92      0.92     40000
weighted avg       0.92      0.92      0.92     40000

Test Data
              precision    recall  f1-score   support

           0       0.92      0.89      0.90      4971
           1       0.89      0.92      0.91      5029

    accuracy                           0.90     10000
   macro avg       0.90      0.90      0.90     10000
weighted avg       0.90      0.90      0.90     10000

In [121]:
print("*****************************BernoulliNB***************************\n")
print("Train Data")
print(classification_report(y_train,y_train_predict3))
print("Test Data")
print(classification_report(y_test,y_test_predict3))

*****************************BernoulliNB***************************

Train Data
              precision    recall  f1-score   support

           0       0.93      0.85      0.89     20029
           1       0.87      0.94      0.90     19971

    accuracy                           0.89     40000
   macro avg       0.90      0.89      0.89     40000
weighted avg       0.90      0.89      0.89     40000

Test Data
              precision    recall  f1-score   support

           0       0.91      0.83      0.87      4971
           1       0.85      0.92      0.88      5029

    accuracy                           0.88     10000
   macro avg       0.88      0.88      0.88     10000
weighted avg       0.88      0.88      0.88     10000